.home{
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
}

.home__hero{
    width: 100%;
    height: 600px;

    /* background-image: url('src/assets/homepage/background.jpg'); */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home__hero-img{
    width: 100%;
    height: 600px;
    position: absolute;
}

.home__hero-title{
    width: 100%;
}

.home__section{
    width: 90%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__section h2{
    width: 100%;
}

.section__title-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.section__title-container a{
    width: 100%;
    text-align: right;
}

/* Tablet */

@media screen and (max-width: 1200px){
    
}