.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #3C433B;
    padding: 0 50px;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
}

.header__logo img{
    width: 250px;
}

.header__menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;

}

.header__item a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bolder;
}

.header__item-cart{
    background-color: rgb(47, 255, 158);
    padding: 10px;
    border-radius: 15px;
    color: #000;
}