.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #2DD3DF;
    padding: 0 40px;
    height: 100px;
}

.header__logo img{
    width: 250px;
}

.header__menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__item a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bolder;
}

.header__item-cart{
    background-color: rgb(47, 255, 158);
    padding: 10px;
    border-radius: 15px;
}